@import "./vars.scss";

.container {
    background-color: $lightgray;
}

.chair {
    padding: 0 auto ;
    &-wrapper {
        display: flex;
        justify-content: center;
        gap: 67px;
        padding: 50px 0;
    }

    &-img {
        width: 546px;
        height: 620px;
    }

    &-details {
        max-width: 522px;
    }

    &-title {
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 16px;
    }

    &-price {
        margin-bottom: 28px;
    }

    &-subtitle {
        line-height: 20px;
        margin-bottom: 14px;
        font-family: "Clash Display", sans-serif;
        font-weight: bolder;
    }

    &-text {
        line-height: 22px;
        margin-bottom: 36px;
    }

    &-dimensions {
        margin-bottom: 24px;
        &_container {
            &-wrapper {
                display: flex;
                justify-content: space-between; 
                max-width: 324px;
                margin-bottom: 30px;              
            }
        }

        &_details {
            margin-bottom: 15px;
            font-size: 14px;
            line-height: 17px;
        }

        &_height {
            font-size: 14px;
            font-family: "Clash Display", serif;
            font-weight: bolder;
        }

        &_line {
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            height: 100%;
            overflow: auto;
            margin-top: -44px;
            margin-left: -50px;   
        }
    }

    &-quantity {
        &_title {
            font-family: "Clash Display", serif;
            font-weight: bolder;
            margin-bottom: 12px;
        }

        &_wrapper {
            &-number {
                position: relative;
                width: 122px;
            }
        }

        &_minus {
            width: 12px;
            height: 16px;
            margin-bottom: -36px;
            margin-left: 16px;
            cursor: pointer;
        }

        &_minus:hover {
            width: 14px;
            height: 19px;
        }

        &_number {
            text-align: center;
            padding: 12px 16px;
            background-color: $white;
        }

        &_plus {
            width: 12px;
            height: 16px;
            margin-top: -33px;
            margin-left: 92px;
            position: absolute;
            cursor: pointer;
        }

        &_plus:hover {
            width: 15px;
            height: 19px;
        }

        &_btn {
            color: $white;
            background-color: $blue;
            margin-top: 50px;
            cursor: pointer;
            transition: 0.5s;
        }

        &_btn:hover {
            background-color: $gray;
        }
    }
}

.line {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    overflow: hidden;
    margin: 17px 0;
    margin-bottom: 24px;
}


@media screen and (max-width: 390px) {
    .container {
        background-color: $white;
    }
    
    .chair {
        &-wrapper {
            flex-wrap: wrap;
            gap: 28px;
            padding: 10px 0;
        }
    
        &-img {
            width: 390px;
            height: 380px;
        }
    
        &-details {
            padding: 0 24px ;
            max-width: 522px;
        }
    
        &-title {
            font-size: 24px;
            margin-bottom: 12px;
        }
    
        &-price {
            font-size: 20px;
            margin-bottom: 16px;
        }
    
        &-subtitle {
            margin-bottom: 12px;
        }
    
        &-text {
            margin-bottom: 28pxpx;
        }
    
        &-dimensions {
            margin-bottom: 24px;
            &_container {
                &-wrapper {
                    margin-bottom: 28px;              
                }
            }
    
        }
    
        &-quantity {
            &_title {
                margin-bottom: 8px;
            }
    
            &_wrapper {
                &-number {
                    width: 342px;
                }
            }

            &_number {
                background-color: $lightgray;
            }
    
            &_plus {
                margin-left: 315px;
            }
    
            &_btn {
                padding: 16px 32px;
                margin-top: 32px;
                margin-bottom: 50px;
            }
        }
    }
}